.chat{
    padding: 10px;
    background-color: inherit;
    color: white;
    border-color: 2a3942;
    border-radius: 5px;
    border:1px solid #2a3942;
    &:hover{
        background-color: #414c54;
        cursor: pointer;
    }
}