.form{
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 15px;
    background-color: #8696a0;
    width: 15vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

    .error{
        color: red;
    }

    .btn{
        background-color: #202c33;
        color: white;
        border: none;
        padding: 5px 20px;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
            color: black;
            background-color: white;
        }
    }
}