.selectedChat{
    display: grid;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    .selectedNumber{
        align-self: start;
        color: white;
        background-color: #111b21;
        padding: 10px;
        border:1px solid #2a3942;
        text-align: start;
    }
    .chat{
        position:absolute;
        bottom:60px;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        width: -webkit-fill-available;
        margin-bottom: 10px;
    }
    .writeMessage{
        background-color: #111b21;
        border-top:1px solid #2a3942;
        padding: 20px 0;
        width: 75vw;
        position:absolute;
        bottom:0;
        input{
            background-color:#2a3942;
            color: white;
            width: 80%;
        }
    }
    
}